html,
body {
  margin: 0;
  padding: 0.5em;
  padding-top: 0;
}
body {
  font: 14px "Helvetica Neue", Arial, sans-serif;
  line-height: 1.4;
  background: #E3E3E3;
  color: #252525;
}
a,
a:visited {
  color: #36C;
}

/* Common
 ------------------------------------ */

.ribbon {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

/* Header/Summary
 ------------------------------------ */

.head {
  width: 31em;
  margin: 3em auto;
  font-size: 130%;
}
  .head h1,
  .head h2 {
    margin: 0;
    padding: 0;
  }
  .head h1 {
    font-size: 300%;
  }
  .head h2 {
    font-weight: normal;
    font-size: 140%;
  }

/* Results
 ------------------------------------ */

.content {
  background: #F9F9F9;
  padding: 2em;
  font-size: 150%;
  max-width: 800px;
  margin: auto;
}
  .content p {
    margin-top: 0;
  }
