!!! 5
html(lang='en-GB')
  head
    meta(charset='UTF-8')
    title “Game of Shells” 15 Minute Interview Test For Front-End Engineers
    link(rel='icon', type='image/x-icon', href='/front-end-engineer-interview-exercise/static/favicon.ico')
    include ../css/styles.min.css
  body

    .head
      hgroup
        h1 Game of Shells
        h2 15 Minute Interview Test For Front-End Engineers
      p

        a(href='/front-end-engineer-interview-exercise/static/cat-game-of-shells.gif', target='_blank')
          img(src='/front-end-engineer-interview-exercise/static/cat-game-of-shells.gif', alt='')

    .content
      p
        | I was recently given this exact test in an interview and am curious to learn how you would
        | approach the same problem — and your thoughts on the test generally.

      h2
        | How It Works

      ul
        li
          | Read the information on this page.
        li
          | Create a blank <a href="http://jsfiddle.net/">jsFiddle</a>.
        li
          | Spend <strong>no longer than 15 minutes</strong> developing a fully working game in the
          | browser.
        li
          | When you're finished, <a href="http://tlk.io/game-of-shells-developer-test/">post the
          | link to your jsfiddle</a> anonymously*.
        li
          | <a href="https://news.ycombinator.com/item?id=7151666">Share and discuss</a> your experience:
          ul
            li
              | How did you approach it?
            li
              | What do you think the test tells the company about you?
            li
              | What does the test tell you about the company?
            li
              | Did you find it easy or difficult?
            li
              | Were there other approaches you didn't take that you considered for a while?

      h2
        | About The Test

      ul
        li
          | It's an internal prototype (customers won't see it).
        li
          | It matters more that you create a working game than it looking pretty.
        li
          | You can use frameworks or libraries if that's what you want to do.
        li
          | You can use a developer reference such
          | as <a href="https://developer.mozilla.org/en-US/">MDN</a>.
        li
          | It's understood that what you would write normally compared to what you can produce in
          | 15 minutes is likely to be very different.
      p
        | If you're planning on giving it a try, of course, treat it as if you're in an interview
        | room and you have a strict 15 minutes to produce <em>something</em>. The job is one that
        | you want and the test lets you show the company the kind of code you write.

      h2
        | How The Game Works

      p
        | The Game of Shells (also known as “The Shell Game”, “Thimblerig”, and “Three Shells and a
        | Pea”) involves a flat surface, a row of three small containers and a ball small enough to
        | fit underneath each of them.
      p
        | On each turn of the game the player is shown the ball being placed under one of the
        | containers before the order of the containers is repeatedly shuffled at random.
      p
        | The player then has to guess correctly which container the ball is under in order to win,
        | otherwise they lose.

      h2
        | * Posting Anonymously

      p
        | My gut tells me that posting anonymously leaves nothing to gain or lose by putting forward
        | an honest submission.
      p

        | Having your name attributed may preoccupy you with what other people might think,
        | spending longer than the 15 minute limit to produce something worthy of public attention,
        | or not posting something at all because you're not proud of it for example.

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-45466560-3', 'jamiemason.github.io');
      ga('send', 'pageview');
